{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header_meta %}
        <title>Tobi DEGNON</title>
        <meta name="description" content="Tobi DEGNON online portfolio and web developer blog.">
        <meta name="author" content="Tobi DEGNON">
        <meta name="keywords"
              content="developer, backend, python, django, htmx, fastapi, database, web, technology, portfolio, blog">
    {% endblock header_meta %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script type="module" src="{% static 'index.js' %}" defer></script>
    <script defer data-domain="oluwatobi.dev" src="https://analitycal.dotfm.tech/js/plausible.js"></script>
</head>
<body class="container mx-auto bg-zinc-900 text-zinc-50">
<header>
    <nav class="flex justify-center mt-4">
        <ul class="flex gap-2 justify-center border border-0 p-1 rounded-full bg-zinc-800/90 text-zinc-200 text-sm font-medium">
            <li><a href="{% url "home" %}"
                   class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">Home</a>
            </li>
            <li><a href="{% url "projects" %}"
                   class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">Projects</a>
            </li>
            <li><a href="{% url "coltrane:content" "posts" %}"
                   class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">Posts</a>
            </li>
            <li><a href="{% url "coltrane:content" "snippets" %}"
                   class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">Snippets</a>
            </li>
            <li><a href="{% url "colophon" %}"
                   class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400">Colophon</a>
            </li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock content %}

<footer class="mt-32">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                            <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                                <a href="https://dev.to/tobi"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" role="img" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.42 10.05c-.18-.16-.46-.23-.84-.23H6l.02 2.44.04 2.45.56-.02c.41 0 .63-.07.83-.26.24-.24.26-.36.26-2.2 0-1.91-.02-1.96-.29-2.18zM0 4.94v14.12h24V4.94H0zM8.56 15.3c-.44.58-1.06.77-2.53.77H4.71V8.53h1.4c1.67 0 2.16.18 2.6.9.27.43.29.6.32 2.57.05 2.23-.02 2.73-.47 3.3zm5.09-5.47h-2.47v1.77h1.52v1.28l-.72.04-.75.03v1.77l1.22.03 1.2.04v1.28h-1.6c-1.53 0-1.6-.01-1.87-.3l-.3-.28v-3.16c0-3.02.01-3.18.25-3.48.23-.31.25-.31 1.88-.31h1.64v1.3zm4.68 5.45c-.17.43-.64.79-1 .79-.18 0-.45-.15-.67-.39-.32-.32-.45-.63-.82-2.08l-.9-3.39-.45-1.67h.76c.4 0 .75.02.75.05 0 .06 1.16 4.54 1.26 4.83.04.15.32-.7.73-2.3l.66-2.52.74-.04c.4-.02.73 0 .73.04 0 .14-1.67 6.38-1.8 6.68z"></path>
                                    </svg>
                                    <span class="sr-only">DevTo page</span>
                                </a>
                                <a href="mailto:tobidegnon@proton.me"
                                   class="text-zinc-500 hover:text-white">
                                    <svg viewBox="0 0 24 24" aria-hidden="true"
                                         class="w-5 h-5" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z"></path>
                                    </svg>
                                    <span class="sr-only">Email address</span>
                                </a>
                                <a href="https://twitter.com/tobidegnon"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                                    </svg>
                                    <span class="sr-only">Twitter page</span>
                                </a>
                                <a href="https://github.com/Tobi-De"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="sr-only">GitHub account</span>
                                </a>
                                <a href="https://open.spotify.com/user/16nkjfi9016vplwwuohlk9t5n?si=32da9f7b741f4ef4"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-4 h-4 mt-0.5"
                                         role="img" fill="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"></path>
                                    </svg>
                                    <span class="sr-only">Spotify account</span>
                                </a>
                            </div>
                            <p class="text-sm text-zinc-400 dark:text-zinc-500">© <!-- -->2022<!-- --> Tobi
                                DEGNON. All rights reserved.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
