{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock extra_meta %}
    <title>{% block title %}Tobi DEGNON{% endblock title %}</title>
    <meta name="description" content="Tobi DEGNON online portfolio and web developer blog.">
    <meta name="author" content="Tobi DEGNON">
    <meta name="keywords"
          content="developer, backend, python, django, htmx, fastapi, database, web, technology, portfolio, blog">
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script src="{% static 'bundle.js' %}" defer></script>
</head>
{% django_browser_reload_script %}
<body class="bg-slate-900 text-slate-400">
{% block content %} {% endblock content %}
</body>
</html>
