{% load static %}
{% load django_browser_reload %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock extra_meta %}
    <title>{% block title %}Tobi DEGNON{% endblock title %}</title>
    <meta name="description" content="E-commerce de vente de produits de soins corporelles.">
    <meta name="author" content="Tobi DEGNON">
    <meta name="keywords" content="Beauté, soins corporelles, savons, pomades, bougies">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% tailwind_css %}
</head>
{% django_browser_reload_script %}
<body>
{% block content %} {% endblock content %}
</body>
</html>
