{% extends "base.html" %}
{% load static %}

{% block header_meta %}
    <title>Colophon</title>
    <meta name="description" content="This page explains how this website was built and the technologies involved.">
{% endblock header_meta %}

{% block content %}
    <main class="md:px-8 mt-16">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="px-4 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <h1 class="text-5xl font-bold tracking-tight">
                        Colophon: what is the machinery behind this?</h1>
                    <div class="text-zinc-400">
                        <p class="mt-6 text-base text-zinc-400">
                            I built this site with <a href="https://www.djangoproject.com/"
                                                      class="text-teal-400 hover:text-teal-600 hover:underline"
                                                      target="_blank">django</a> (completely overkill I know),
                            <a href="https://tailwindcss.com/" class="text-teal-400 hover:text-teal-600 hover:underline"
                               target="_blank">tailwind css</a> and
                            <a href="https://htmx.org" class="text-teal-400 hover:text-teal-600 hover:underline"
                               target="_blank">htmx</a>. The <a href="{% url "blog:content" "posts" %}"
                                                                class="text-teal-400 hover:text-teal-600 hover:underline"
                                                                target="_blank">blog</a> was built using <a
                                class="text-teal-400 hover:text-teal-600 hover:underline"
                                href="https://github.com/adamghill/coltrane" target="_blank">coltrane</a>, a django
                            based content
                            site
                            <!-- todo add my linod link here-->
                            framework. The app is deployed on a <a href="https://cloud.linode.com"
                                                                   class="text-teal-400 hover:text-teal-600 hover:underline"
                                                                   target="_blank">linode</a> vps and
                            managed with <a href="https://caprover.com/"
                                            class="text-teal-400 hover:text-teal-600 hover:underline"
                                            target="_blank">caprover</a>.
                            The <a href="https://github.com/Tobi-De/dotfm"
                                   class="text-teal-400 hover:text-teal-600 hover:underline"
                                   target="_blank">source code</a> of this app is available on github.
                        </p>

                        <p class="mt-3 text-zinc-400">
                            I didn't design this myself, here is a non-exhaustive list of projects I was inspired by:
                        </p>

                        <ul class="prose prose-invert my-4">
                            <li>
                                <a href="https://spotlight.tailwindui.com/"
                                   class="text-teal-400 hover:text-teal-600 hover:underline"
                                   target="_blank">Spotlight, a template by the creators of Tailwind CSS</a>
                            </li>
                            <li><a href="https://leerob.io/" class="text-teal-400 hover:text-teal-600 hover:underline"
                                   target="_blank">Lee Robinson personal website</a></li>
                            <li><a href="https://www.joshwcomeau.com/tutorials/"
                                   class="text-teal-400 hover:text-teal-600 hover:underline"
                                   target="_blank">Josh W Comeau blog</a></li>
                            <li><a href="https://adamj.eu/"
                                   class="text-teal-400 hover:text-teal-600 hover:underline"
                                   target="_blank">Adam Johnson personal website</a></li>
                        </ul>

                        <p>I made the favicon I'm using from <a
                                class="text-teal-400 hover:text-teal-600 hover:underline"
                                href="https://www.flaticon.com/free-icons/spooky"
                                target="_blank"
                                title="spooky icons">Flaticon - Spooky icons created by muhammad
                            atho'</a></p>

                        <p class="my-3">
                            This is my second attempt at this, the previous version was also built with django and the
                            <a href="https://github.com/Tobi-De/portfolio"
                               class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank">source code</a>
                            is also available on github.
                        </p>

                        <p class="my-3">
                            There are probably thousands of better ways to build this and if you are trying to build
                            something like this for yourself, I would suggest HTML, CSS
                            and vanilla javascript for something so simple or a static site generator like
                            <a href="https://github.com/getpelican/pelican"
                               class="text-teal-400 hover:text-teal-600 hover:underline"
                               target="_blank">Pelican</a>. You can also use <a
                                class="text-teal-400 hover:text-teal-600 hover:underline"
                                href="https://coltrane.readthedocs.io/en/stable/static/" target="_blank">coltrane</a> as
                            a static
                            site generator.
                            <br>
                        </p>

                        <p class="my-3">Thanks to all of these technologies for making my personal site / blog
                            possible!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
