{% extends "base.html" %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li>Tobi</li>
                <li>Home</li>
                <li>Blog</li>
                <li>Colophon</li>
            </ul>
        </nav>
    </header>


    <main class="main-content">
        <!-- Hero section -->
        <section class="hero" aria-labelledby="hero-title">
            <header>
                <h1>hi my name is,</h1>
                <h2 id="hero-title">Tobi DEGNON</h2>
            </header>
        </section>

    <!-- About me -->
        <section class="about-me">
            <header>
                <h2>About Me</h2>
            </header>
        </section>

      <!-- Work Experience -->
        <section class="work-experience-section">
            <header>
                <h2>Where I've worked</h2>
            </header>
        </section>


      <!-- Project -->
        <section class="projects-section">
            <header>
                <h2>Some things I've buil</h2>
            </header>
        </section>

      <!-- Get in touch -->
        <section class="get-in-touch-section">
            <header>
                <h2>About Me</h2>
            </header>
        </section>

    </main>

    <footer></footer>
{% endblock content %}
