{% extends "base.html" %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li>logo</li>
                <li>Home</li>
                <li>Resume</li>
                <li>Blog</li>
                <li>Colophon</li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Hero section -->
        <section aria-labelledby="hero-title">
            <header>
                <h1>hi my name is,</h1>
                <h2 id="hero-title">Tobi DEGNON</h2>
            </header>
            <h3>I build things for the web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa expedita labore laudantium quidem
                sapiente similique, suscipit vitae. Aperiam consequatur ea excepturi expedita quasi. A modi
                necessitatibus quae ut? Architecto!</p>
            <a href="">Check my courses</a>
        </section>

        <div>
            <ul>
                <li>Github link</li>
                <li>Twitter link</li>
                <li>Devto link</li>
                <li>Hashnode link</li>
            </ul>
        </div>

        <div>
            <span>tobidegnon@proton.me</span>
        </div>

        <!-- About me -->
        <section>
            <header>
                <h2>About Me</h2>
            </header>
            <div>
                <div>Image of Myself</div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dignissimos dolorum eaque eius,
                        et exercitationem impedit iste laborum maxime modi nobis optio pariatur rerum similique tenetur.
                        Ab accusamus aspernatur assumenda consequuntur culpa delectus, dolorem eaque et exercitationem
                        facere fugiat fugit id illum iste, laborum laudantium maiores nesciunt nostrum officiis omnis
                        perferendis perspiciatis quae quas quia, quos rerum sapiente tenetur? Ad, aliquam aliquid .</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dignissimos dolorum eaque eius,
                        et exercitationem impedit iste laborum maxime modi nobis optio pariatur rerum similique tenetur.
                        Ab accusamus aspernatur assumenda consequuntur culpa delectus, dolorem eaque et exercitationem
                        .</p>
                    <p>Tech I've being working with recently</p>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Fastapi</li>
                        <li>Htmx</li>
                        <li>Tailwind</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Work Experience -->
        <section>
            <header>
                <h2>Where I've worked</h2>
            </header>
            <div>
                <div>
                    <ul>
                        <li>Entreprise 1</li>
                        <li>Entreprise 2</li>
                    </ul>
                </div>
                <div>
                    <div>
                        <h3>Dev</h3>
                        <span>Aout - Decembre 2020</span>
                        <ul>
                            <li>Did 1</li>
                            <li>Did 2</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Dev</h3>
                        <span>Aout - Decembre 2020</span>
                        <ul>
                            <li>Did 1</li>
                            <li>Did 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Project -->
        <section>
            <header>
                <h2>Some things I've built</h2>
            </header>
            <div>
                <div>Project Image</div>
                <div>
                    <h3>Project 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum facere iusto nesciunt
                        quae quo quos voluptatibus? Aliquam eaque earum facilis in, iusto praesentium reiciendis
                        sapiente
                        suscipit. Accusantium aperiam beatae consectetur culpa cumque dolore excepturi, laboriosam
                        maiores
                        molestiae nihil nisi odit optio pariatur, perspiciatis quidem quisquam saepe sequi sint,
                        voluptatibus?</p>
                    <ul>
                        <li>python</li>
                        <li>django</li>
                    </ul>
                    <ul>
                        <li>Github link</li>
                    </ul>
                </div>
            </div>

            <h4>Other Noteworthy projects</h4>
            <span>View the Archive</span>
            <div>
                <div>
                    <h5>Sub Project 1</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem corporis deserunt dolores
                        eaque eius, facilis hic itaque iusto laboriosam laudantium libero quasi, quibusdam repellat vero
                        voluptatibus voluptatum! Ipsa, vitae.</p>
                </div>
            </div>
        </section>

        <!-- Get in touch -->
        <section>
            <header>
                <h2>Get In touch</h2>
            </header>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque deleniti, dolorum eum itaque
                    nam officia quis totam! Aliquid, atque!</p>
                <a href="">Say Hello</a>
            </div>
        </section>

    </main>

    <footer></footer>
{% endblock content %}
