{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock extra_meta %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Tobi DEGNON">
    <meta name="keywords" content="{{ tags|join:", " }}">
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script src="{% static 'bundle.js' %}" defer></script>
</head>
<body class="bg-zinc-900 text-zinc-50">

<header class="flex flex-col justify-center px-8">
    <nav class="flex items-center justify-between">
        <ul class="flex gap-3">
            <li class="p-2"><a href="{% url "home" %}">Me</a></li>
            <li class="p-2"><a href="{% url "coltrane:content" "posts" %}">Posts</a></li>
            <li class="p-2"><a href="{% url "coltrane:content" "snippets" %}">Snippets</a></li>
            <li class="p-2">RSS</li>
            <li class="p-2">Colophon</li>
        </ul>
        <div class="">Search bar</div>
    </nav>
</header>

{% block content %}
{% endblock content %}

<footer></footer>

</body>
</html>
