{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock extra_meta %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Tobi DEGNON">
    <meta name="keywords" content="{{ tags|join:", " }}">
    <link rel="stylesheet" href="{% static "bundle.css" %}">
    <script src="{% static 'bundle.js' %}" defer></script>
</head>
<body class="bg-slate-900 text-slate-400">

<header>
    <nav>
        <div></div>
    </nav>
</header>

<main class="container mx-auto">
    {% block content %}
    {% endblock content %}
</main>
</body>
</html>
