{% extends "blog/base.html" %}
{% load blog_tags %}
{% load humanize %}

{% block content %}
    {% get_posts as posts %}
    {% all_unique_tags as tags %}
    <main class="md:px-8 mt-16">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="px-4 lg:px-12">
                <div class="flex mx-auto max-w-7xl lg:px-8">
                    <div class="mx-auto w-full max-w-2xl">
                        <header class="mb-4">
                            <div class="flex justify-between">
                                <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                                    Blog
                                </h1>
                                <a hx-boost="false" class="group mt-4" href="{% url 'blog:rss_feed' %}">
                                    <svg class="h-5 w-5 fill-zinc-400 transition group-hover:fill-zinc-300"
                                         role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>
                                        RSS</title>
                                        <path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
                                    </svg>
                                </a>
                            </div>
                            <p class="mt-6 text-base text-zinc-400">
                                Programming tutorials, recipes and sometimes thoughts on tech trends and system
                                design mainly around django and the python ecosystem. I might add some javascript or go
                                here and there, you never know :)
                            </p>
                        </header>
                        <div class="relative w-full mb-4">
                            <input aria-label="Search articles" type="text"
                                   placeholder="Search articles"
                                   class="block w-full px-4 py-2 border border-zinc-700 rounded-md bg-zinc-900 focus:ring-teal-500 focus:border-teal-500">
                            <svg class="absolute w-5 h-5 text-zinc-300 right-3 top-3"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <div class="divide-y divide-gray-200 dark:divide-gray-700">
                            <!-- todo a share link -->
                            {% for post in posts %}
                                <article class="py-6">
                                    <div class="flex items-center justify-between mb-3 text-zinc-500">
                                        <div>
                                            {% for tag in post.tags %}
                                                <a class="bg-zinc-600 text-zinc-200 text-sm font-medium mr-2 px-2.5 py-0.5 rounded hover:bg-zinc-700 hover:text-white mb-2"
                                                   href="">#{{ tag }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <span class="text-zinc-500">{{ post|readtime_from_post }}</span>
                                    </div>
                                    <h2 class="mb-2 text-2xl font-bold tracking-tight hover:text-teal-400">
                                        <a href="{% url "blog:content" post.slug %}">{{ post.title }}</a></h2>
                                    <p class="mb-5 text-zinc-400">{{ post.description }}</p>
                                    <div class="flex items-center justify-between">
                                       <span class="text-sm text-zinc-500">Published <time
                                               datetime="{{ post.publish_date.isoformat }}">{{ post.publish_date|naturalday }}</time></span>
                                        <a
                                                class="inline-flex items-center font-medium text-teal-400 hover:underline"
                                                href="{% url "blog:content" post.slug %}">Read more
                                            <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a></div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                    <aside class="ml-3 hidden lg:block lg:w-80" aria-labelledby="sidebar-label">
                        <div class="sticky top-36">
                            <h3 id="sidebar-label" class="sr-only">Sidebar</h3>
                            <div class="p-6 pb-4 mt-6 mb-6 font-medium border rounded-lg border-zinc-700">
                                <h4 class="mb-4 font-bold uppercase">TAGS</h4>
                                <div class="flex flex-wrap">
                                    {% for tag in tags %}
                                        <a class="bg-zinc-600 text-zinc-200 text-sm font-medium mr-2 px-2.5 py-0.5 rounded hover:bg-zinc-700 hover:text-white mb-2"
                                           href="">#{{ tag }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="p-6 mb-6 font-medium border rounded-lg border-zinc-700">
                                <h4 class="mb-4 font-bold uppercase">Recommended articles</h4>
                                <ul class="space-y-2 text-zinc-400">
                                    <li>
                                        <a class="inline-flex justify-center items-center p-2 w-full text-base font-medium text-zinc-400 hover:text-teal-400"
                                           href="https://grugbrain.dev/" target="_blank">
                                            <span class="w-full">The Grug Brained Developer</span>
                                            <svg class="ml-3 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="inline-flex justify-center items-center p-2 w-full text-base font-medium text-zinc-400 hover:text-teal-400"
                                           href="https://github.com/guettli/wol" target="_blank">
                                            <span class="w-full">Thomas WOL: Working out Loud</span>
                                            <svg class="ml-3 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="inline-flex justify-center items-center p-2 w-full text-base font-medium text-zinc-400 hover:text-teal-400"
                                           href="https://fs.blog/chestertons-fence/" target="_blank">
                                            <span class="w-full">Chesterton’s Fence: A Lesson in Second Order Thinking</span>
                                            <svg class="ml-3 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="inline-flex justify-center items-center p-2 w-full text-base font-medium text-zinc-400 hover:text-teal-400"
                                           href="https://htmx.org/essays/rest-explained/" target="_blank">
                                            <span class="w-full">REST - What is it, really?</span>
                                            <svg class="ml-3 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- todo modal form for subscribe -->
                            {#                            <form action="/thank-you"#}
                            {#                                  class="rounded-2xl border p-6 border-zinc-700">#}
                            {#                                <h4 class="flex font-semibold">#}
                            {#                                    <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round"#}
                            {#                                         stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">#}
                            {#                                        <path d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"#}
                            {#                                              class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"></path>#}
                            {#                                        <path d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6"#}
                            {#                                              class="stroke-zinc-500"></path>#}
                            {#                                    </svg>#}
                            {#                                    <span class="ml-3 font-bold uppercase">Stay up to date</span></h4>#}
                            {#                                <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">Get notified when I publish#}
                            {#                                    something new, and unsubscribe at any time.</p>#}
                            {#                                <div class="mt-6 mb-4 flex flex-col gap-2">#}
                            {#                                    <input type="text" placeholder="Friendly name" aria-label="Friendly name"#}
                            {#                                           class="min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-teal-500 focus:outline-none focus:ring-4 focus:ring-teal-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-teal-400 dark:focus:ring-teal-400/10 sm:text-sm">#}
                            {#                                    <input type="email" placeholder="Email address"#}
                            {#                                           aria-label="Email address" required=""#}
                            {#                                           class="min-w-0 flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-teal-500 focus:outline-none focus:ring-4 focus:ring-teal-500/10 dark:border-zinc-700 dark:bg-zinc-700/[0.15] dark:text-zinc-200 dark:placeholder:text-zinc-500 dark:focus:border-teal-400 dark:focus:ring-teal-400/10 sm:text-sm">#}
                            {#                                </div>#}
                            {#                                <button class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70 ml-4 flex-none"#}
                            {#                                        type="submit">Join#}
                            {#                                </button>#}
                            {#                                <div class="mt-6 flex">#}
                            {##}
                            {##}
                            {#                                </div>#}
                            {#                            </form>#}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
