<!doctype html>
<html lang="en">
<body>
<h3>Welcome to my Newsletter</h3>
<p>Hey there {{ subscriber.friendly_name }} <img alt="😄" class="emojione" height="20px"
                                                 src="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f604.png"
                                                 title=":smile:" width="20px">,<br><br>
    This newsletter serves my <a href="{{ blog_url }}">personal blog</a> where I post programming tutorials and guides
    mostly about python and<br><br>
    Django.
    Thanks from Tobi.
</p>
</body>
</html>
