{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
    {% if "posts" in request.path %}
        <div class="">
            <div class="flex flex-col xl:flex-row gap-4">
                <div class="prose md:prose-lg lg:prose-xl">
                    {{ content|reading_time }}
                    {{ tags|join:", " }}
                    {{ content }}
                    {% include "blog/_comments.html" %}
                </div>
                <div class="prose prose-sm lg:prose-base">
                    {{ toc }}
                </div>
            </div>
        </div>
    {% else %}
        {{ title }}
        <div class="prose py-2">
            {{ content }}
        </div>
        {% include "blog/_comments.html" %}
    {% endif %}
{% endblock content %}
