{% extends "blog/base.html" %}
{% load static %}
{% load blog_tags %}

{% block content %}
    <main class="p-4">
        <header class="prose prose-invert py-6">
            <span class="">#{{ tags|join:" #" }}</span>
            <h1 class="">{{ title }}</h1>
            <span>{{ content|reading_time }} read</span>
        </header>
        <div class="flex flex-col lg:flex-row gap-2">
            <aside class="prose prose-sm prose-invert lg:w-60 lg:order-last">
                <h2>Table of Contents</h2>
                <nav aria-label="table of content">
                    {{ toc }}
                </nav>
            </aside>
            <article class="prose prose-invert">
                {{ content }}
                {% include "blog/_comments.html" %}
            </article>
        </div>
    </main>
{% endblock content %}
