{% extends "coltrane/base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto px-4 py-4">
        <div class="flex flex-col xl:flex-row gap-4">
            <div class="prose prose-sm lg:prose-base">
                {{ toc }}
            </div>
            <div class="prose md:prose-lg lg:prose-xl">
                {{ content }}
                <div class="comments-container">
                    <giscus-widget
                            id="comments"
                            repo="Tobi-De/dotfm"
                            repoid="R_kgDOG4i3FA"
                            category="Announcements"
                            categoryid="DIC_kwDOG4i3FM4CRn5z"
                            mapping="pathname"
                            strict="1"
                            reactionsenabled="1"
                            emitmetadata="0"
                            inputposition="top"
                            theme="dark"
                            lang="en"
                            loading="lazy"
                    ></giscus-widget>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
